body
{
    background-color:#DFF2FF;
    font-family: Verdana, Geneva, sans-serif;
   width:70%;
   margin-right:15%;
   margin-left:15%;
   position:absolute;
 
}

h1
{
    font-size:18px;
    text-align:center;
    color:#007FFF;
    font-variant: small-caps;
}

h3
{
         background-color:white;
    text-align:center;
    border: 1px solid #2E006C;
    padding:15px;
    color:#2E006C;


}
.cursus
{
    width:73%;
    float:left;
     

}


.cursus p
{
    font-style:oblique;
    
}

.photo
{
  
    width:25%;
    float:right;
}

.photo img
{
    width:233px;
    height:200px;
    border:2px #6600FF;
}
.postes
{
   
    float:left;
}

.postes li 
{
    list-style : none;
    color:#6600FF;
}

.postes b

{
    font-style:italic;
}

.postes p 
{
   margin-left:25px; 
}



.coordonees
{
    width:100%;
    background-color:white;
    border: 1px solid #2E006C;
    text-align:center;
    color:#5A5E6B;
  float:left;
}

.loisirs
{
    width:100%;
    Color:#6600FF;
    float:left;
}
#page
{
background-color:#F0FFFF;
border: 1px solid #2E006C;
position:absolute;
box-shadow: 1px 8px 20px 10px #80D0D0;
padding: 5px;
border-radius:10px;
}